  .CardItem{
    width: 300px;
    height: 800px;
    color: black;
    background-color: white;
    opacity: 90%;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  
}
  
  .Header{
    font-size: large;
  }
  
  .ItemImg img{
    width: 280px;
    height: 300px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    
    padding-left: 10px;
  }

  
  .CardItem:hover {
    transform: translate(0px, -5px);
    box-shadow: 5px 5px 9px 0px rgba(171, 171, 171, 0.3),
      -3px -3px 18px 0px rgba(255, 255, 255, 0.95);
  
    cursor: pointer;
  }
  
  .Info{
    height: 140px;
   
  }

  .CardItem_price{
    color: #444444;
    font-weight: bold;
  }