@import './Components/CartWidget/CartWidget.css';
@import './Components/Item/Item.css';
@import './Components/ItemCount/ItemCount.css';
@import './Components/ItemDetail/ItemDetail.css';
@import './Components/ItemDetailConteiner/ItemDetailContainer.css';
@import './Components/ItemList/ItemList.css';
@import './Components/ItemListConteiner/ItemListConteiner.css';
@import './Components/Navbar/NavBar.css';


.App {
  background-color:azure;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}