.Counter{
    display: "flex";
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Button{
    height: 30px;
    background-color: #231c43;
    color: #e89a25;
}

.Number{
    height: 30px;
}